@layer card, form, thumbnail, accordion, detailed-list, call-to-action, subgrid;


@layer card {
  .card {
    
    .header{ 
      position: relative;
      padding: 1.5rem 1rem;

      

       .figure {
        position: absolute
      }
      
    }
    .footer {
      padding: 2.5rem 1rem;
      

    }
  }
  }

  @layer thumbnail {
    .thumbnail {
      border-width: .39rem;
  
      display: flex;
      flex-direction: column;
  
      & .name {
        font-weight: 400;
        letter-spacing: .1rem;
        font-size: 1.9rem;
      }
  
      & .email {
        font-weight: 100;
        a {
          color: hsl(var(--hue-1), 10%, 70%);
          font-size: 1.2rem;
          font-weight: 400;
          font-style: italic;
          letter-spacing: .1rem;
        }
      }
  
      & .picture {
        order: 1;
        flex-grow: 1;
      }
  
      & .info {
        order: 2;
        width: 100%
      }
  
      & .link {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
      }
  
      & .ratio
      {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 100%;
        height: auto;
      }
  
      @media only screen and (min-width: 480px) {
        & .name {
          font-size: 1.65rem;
        }
  
        & .email {
          a {
            font-size: 1.1rem;
          }
        }
      }
  
      @media only screen and (min-width: 768px) {
        & .info {
          display: none;
        }
  
        &:hover {
          transform: scale(1.09);
        }
  
        &:hover .image {
          filter: saturate(2) brightness(.7);
        }
  
        &:hover .info {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 0;
          z-index: 1;
          opacity: .9;
        }
  
        &:hover .name {
          order: 1;
          font-size: 1.5rem;
        }
    
        &:hover .email {
          order: 2;
          a {
            font-size: 1.2rem;
          }
        }
      }
  
      @media only screen and (min-width: 996px) {
        &:hover .name {
          font-size: 1.2rem;
        }
  
        &:hover .email a {
          font-size: .9rem;
        }
      }
    }  
  }

@layer accordion {
  .accordion {
    container-type: inline-size;
    container-name: accordion;
    overflow: hidden;

    .block {
      margin-bottom: 1rem;   
      border: 1px solid #1F4D71;    
      border-radius: 13px;
      background-color: #A3CFF4; 
      color: #333;
    }

    details[open] {
      background-color: #0F518A;
      color: #fff;
      border: 2px solid #0F518A;
    }
    .heading {
      padding: 2rem;
      cursor: pointer;
      font-size: 1.6rem;

        @container accordion (width > 60ch) {
          font-size: 2rem;
          padding: 2rem; 
        }
    }
    .content {
      padding: 2rem;
      background-color: #EBF5FF;
      color: #333;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      font-size: 1.55rem;

      .text{
        max-width: 50ch; 

      @container accordion (width > 60ch) {
        font-size: 1.6rem;
      }
      }
    }
  }
}

@layer detailed-list {
  .detailed-list {
    container-type: inline-size;
    container-name: detailed-list;
    display: grid;
    grid-template-columns: 1fr;   

    .dl {
      display: grid;
      padding-top: 3rem;    

      .dt {
        position: relative; 
        font-weight: bold; 
        color: #0F518A; 
        font-size: 1.6rem; 
        line-height: 1.8; 
        padding-left: 1rem;

        &::before {
          content: ""; 
          position: absolute; 
          left: 0; 
          top: 0; 
          width: 1px; 
          height: 7.2rem; 
          background-color: black; 
        }
      }
      .dd {
        color: #333; 
        font-size: 1.6rem; 
        line-height: 1.6; 
        text-align: left; 
        margin-left: 1rem;
        max-width: 57ch;    
      }
    }

    @container detailed-list (width > 60ch) {
      .dl {
        grid-template-columns: auto 1fr; 
        align-items: start; 
        gap: 1.6rem;

        .dt {
          text-align: right; 
          padding-right: 1rem; 
          padding-left: 0; 

          &::before {
            left: auto; 
            right: -1rem; 
          }
        }
      }
    }
  }
}

@layer call-to-action {
  .cta {
    display: block;
    padding: 1.7rem 1.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #0F518A;
    border-radius: 12px;
    text-align: justify;
    cursor: pointer;
    position: relative;
  }
}

@layer form {
  .form {
    
  }
}

@layer subgrid {
  .subgrid {
  
  }
}
